@mixin transition(
  $property: $transition-property, 
  $duration: $transition-duration, 
  $timing: $transition-timing,
  $delay: $transition-delay) {
    transition: $property $duration $timing $delay;
}

@mixin animateInDirection(
  $direction, 
  $duration: $transition-duration-slow, 
  $timing: $transition-timing,
  $delay: $transition-delay) {
    animation: moveIn#{$direction} $duration $timing $delay;

    $topDirection: (0: translateY(-20rem), 80: translateY(1rem), 100: translateY(0));
    $rightDirection: (0: translateX(20rem), 80: translateX(-1rem), 100: translateX(0));
    $bottomDirection: (0: translateY(20rem), 80: translateY(-1rem), 100: translateY(0));
    $leftDirection: (0: translateX(-20rem), 80: translateX(1rem), 100: translateX(0));

    $directions: (
      'top': $topDirection,
      'right': $rightDirection,
      'bottom': $bottomDirection,
      'left': $leftDirection,
    );

    $currentDirection: map-get($directions, $direction);

    @keyframes moveIn#{$direction} {
      0% {
        opacity: 0;
        transform: map-get($currentDirection, 0);
      }
    
      80% {
        transform: map-get($currentDirection, 80);
      }
    
      100% {
        opacity: 1;
        transform: map-get($currentDirection, 100);
      }
    }
}

@mixin primaryBackground {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, .8),
    rgba($color-primary-dark, .8)
  ), url(../img/hero-1-large.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@mixin contentColumns {
  display: grid;
  grid-template-columns: 
    [full-content-left] minmax(6rem, 1fr)
    [center-content-left] repeat(8, [col-content-left] minmax(min-content, 14rem) [col-content-right])
    [center-content-right] minmax(6rem, 1fr)
    [full-content-right];

    @include media($ml) {
      grid-template-columns: 
        [full-content-left] minmax(6rem, 1fr)
        [center-content-left] repeat(8, [col-content-left] minmax(min-content, 14rem) [col-content-right])
        [center-content-right] minmax(6rem, 1fr)
        [full-content-right];
    }
}

@mixin media($breakpoint) {
  // @if $breakpoint == 2x-screen {
  //   // If the user is 2x screen resolution and match the conditions below
  //   @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  //          only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  //          only screen and (min-width: 75em) {
  //                            @content
  //                          }
  // }
  
  // @if $breakpoint == touch-device {
  //   @media only screen and (max-width: 56.25em),
  //          only screen and (hover: none) {
  //                            @content
  //                          }
  // }

  @media only screen and (min-width: $breakpoint) {
    @content
  }
}