// BREAKPOINTS
$xxs: 445px;
$xs: 625px;
$s: 768px;
$ms: 840px;
$m: 960px;
$ml: 1160px;
$l: 1290px;
$xl: 1440px;
$xxl: 1600px;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// COLORS
$color-primary: #132B40;
$color-primary-light: #326773;
$color-primary-dark: #131626;

$color-secondary: #c69963;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;
$color-black-hex: 0, 0, 0;

// FONT
$font-size-default: 1.6rem;
$font-size-xxs: 1rem;
$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 2rem;
$font-size-lg: 4rem;
$font-size-xl: 6rem;

// BOX SHADOW
$shadow-primary: 0 3rem 6rem rgba($color-black, .4);
$shadow-secondary: 0 1.5rem 4rem rgba($color-black, .2);
$shadow-tertiary: 0 .5rem 1rem rgba($color-black, .15);

// BORDER
$border-default: 3px;
$border-rounded: 100px;
$border-circle: 50%;
$photo: 3px solid $color-white;
$line: 1px solid $color-grey-light-4;

// TRANSITION
$transition-property: all;
$transition-duration: .3s;
$transition-duration-slow: .8s;
$transition-timing: ease;
$transition-timing-fast: cubic-bezier(1, 0, 0, 1);
$transition-delay: 0s;

// HTML Entities
$left-double-quotation-mark: '\201C';

// Z-INDEX
