@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/keyword';
@import 'components/social';
@import 'components/card';
@import 'components/about';
@import 'components/skills';
@import 'components/experiences';
@import 'components/education';

@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/footer';

@import 'pages/home';
