.header {
  @extend .flex-column-center;
  @include primaryBackground;

  grid-area: header-top / full-left / header-bottom / full-right;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  &__heading-main,
  &__heading-sub {
    @include animateInDirection(right);

    letter-spacing: .5rem;
  }

  &__heading-main {
    @include animateInDirection(left);

    margin-top: -25vh;
  }

  &__social {
    @include animateInDirection(bottom);
  }
} 