.header {
  @extend .flex-column-center;
  @include primaryBackground;
  @include makeClipPath($top: false);

  grid-area: header-top / full-left / header-bottom / full-right;

  &__heading-main,
  &__heading-sub {
    @include animateInDirection(right);

    letter-spacing: .5rem;
  }

  &__heading-main {
    @include animateInDirection(left);

    margin-top: -15vh;

    @include media($s) {
      margin-top: -25vh;
    }
  }

  &__social {
    @include animateInDirection(bottom);
  }
} 