.sidebar {
  grid-area: sidebar-top / sidebar-left / sidebar-bottom / sidebar-right;
  text-align: center;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-dark),
    );

  &__heading {
    padding: 2rem;
    background-color: var(--color-primary-dark);
    box-shadow: var(--shadow-primary);
  }

  &__item {
    @include transition;

    position: relative;
    color: var(--color-grey-light-4);

    &::before {
      @extend .abs-full;
      
      content: '';
      right: 98%;
      background-color: var(--color-primary-light);
      transform: scaleY(0);
      transition: transform 
                    var(--transition-duration) 
                    var(--transition-timing),
                  right 
                    var(--transition-duration)
                    var(--transition-timing-fast)
                    var(--transition-duration);
    }
    
    &:hover,
    &--active {
      color: var(--color-white);
      
      &::before {
        right: 0;
        transform: scaleY(1);
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-primary);
    }
  }
    
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 1.5rem 1rem;
    color: currentColor;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }
}
