.sidebar {
  grid-area: sidebar-top / sidebar-left / sidebar-bottom / sidebar-right;
  text-align: center;
  background-image: linear-gradient(
    to right bottom,
    $color-primary,
    $color-primary-dark,
    );

  &__heading {
    display: block;
    padding: 2rem;
    background-color: $color-primary-dark;
    box-shadow: $shadow-primary;
  }

  &__item {
    @include transition;

    position: relative;
    color: $color-grey-light-4;

    &::before {
      @extend .abs-full;
      
      content: '';
      right: 98%;
      background-color: $color-primary-light;
      transform: scaleY(0);
      transition: transform 
                    $transition-duration 
                    $transition-timing,
                  right 
                    $transition-duration
                    $transition-timing-fast
                    $transition-duration;
    }
    
    &:hover,
    &--active {
      color: $color-white;
      
      &::before {
        right: 0;
        transform: scaleY(1);
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid $color-primary;
    }
  }
    
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 1.5rem 1rem;
    color: currentColor;
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }
}
