.education {
  @include primaryBackground;
  @include makeClipPath;
  @include contentColumns;

  grid-column: full-left / full-right;

  &__inner {
    grid-column: center-content-left / center-content-right;
    padding: 35vh 0;

    display: grid;
    grid-gap: 3rem;
    justify-items: center;

    @include media($xs) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__heading {
    @include animateInDirection(top);
    
    grid-column: 1 / -1;
    justify-self: center;
  }

  &__box {
    @include transition;
    @include animateInDirection(bottom);

    display: grid;
    grid-gap: .5rem;
    align-content: center;
    justify-items: center;
    width: 30rem;
    height: 30rem;
    padding: 2rem;
    font-size: $font-size-default;
    background-color: $color-white;
    border: 2rem solid $color-grey-light-2;
    border-radius: $border-circle;
    box-shadow: $shadow-secondary;

    &:hover {
      font-size: $font-size-sm;
      border: 3rem solid $color-grey-light-2;
      transform: rotate(360deg);
    }
  }

  &__certification {
    font-weight: bold;
    color: $color-primary;
  }
}