.keyword {
  @include transition;

  display: inline-block;

  &:hover {
    box-shadow: $shadow-primary;
    color: $color-white;
    background-color: $color-primary;
    transform: rotate(3deg) scale(1.1);
  }
}
