.skills {
  @include primaryBackground;
  @include makeClipPath;
  @include contentColumns;

  grid-column: full-left / full-right;

  &__inner {
    grid-column: center-content-left / center-content-right;
    padding: 30vh 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 3rem;

    @include media($s) {
      padding: 35vh 0;
    }
  }

  &__heading {
    @include animateInDirection(top);

    grid-column: 1 / -1;
  }

  & > *:not(&__heading) {
    @include animateInDirection(bottom);
  }
}