.skills {
  @include primaryBackground;
  @include contentColumns;

  grid-column: full-left / full-right;
  -webkit-clip-path: polygon(0 25vh, 100% 0, 100% calc(100% - 25vh), 0 100%);
  clip-path: polygon(0 25vh, 100% 0, 100% calc(100% - 25vh), 0 100%);

  &__inner {
    grid-column: center-content-left / center-content-right;
    padding: 35vh 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem;
  }

  &__heading {
    @include animateInDirection(top);

    grid-column: 1 / -1;
  }

  & > *:not(&__heading) {
    @include animateInDirection(bottom);
  }
}