*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%; // This defines what 1rem is

  @include media($ms) {
    font-size: 56.25%;
  }

  @include media($ml) {
    font-size: 62.5%;
  }

  @include media($xxl) {
    font-size: 75%;
  }

  
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

input,
button {
  &:focus {
    outline: none;
  }
}

::selection {
  color: $color-white;
  background-color: $color-primary-light;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: $color-grey-light-1;
  border-radius: $border-default;
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary-light;
  
  &:hover {
    background-color: $color-primary;
  }
}
