body {
  font-family: $font-primary;
  font-weight: 400;
  color: $color-grey-dark-1;
}

a {
  font-size: $font-size-default;
  color: $color-grey-dark-1;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.heading-primary {
  font-family: $font-display;
  font-weight: 100;
  font-size: $font-size-xl;
  text-transform: uppercase;

  &--light {
    color: $color-grey-light-1;
  }
  
  &--dark {
    color: $color-primary-dark;
  }
}

.heading-secondary {
  font-family: $font-display;
  font-weight: 100;
  font-size: $font-size-lg;
  text-transform: uppercase;

  &--light {
    color: $color-grey-light-1;
  }
  
  &--dark {
    color: $color-primary-dark;
  }

  &--special {
    @include transition;

    font-weight: bold;
    line-height: 1.6;
    background-image: linear-gradient(
      $color-primary-light,
      $color-primary-dark,
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      text-shadow: $shadow-secondary;
      transform: skew(20deg, 2deg) scale(1.1);
    }
  }
}

.heading-tertiary {
  font-family: $font-display;
  font-weight: 400;
  font-size: $font-size-md;
  text-transform: uppercase;

  &--light {
    color: $color-grey-light-1;
  }
  
  &--dark {
    color: $color-primary-dark;
  }
}

.paragraph {
  margin-bottom: 2rem;
  font-size: $font-size-default;
  color: $color-grey-dark-2;
}
