body {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-1;
}

a {
  font-size: $font-size-default;
  color: $color-grey-dark-1;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.heading-primary {
  font-family: $font-display;
  font-weight: 100;
  font-size: $font-size-xl;

  &--light {
    color: $color-grey-light-1;
  }
  
  &--dark {
    color: $color-grey-dark-1;
  }
}

.heading-secondary {
  font-family: $font-display;
  font-weight: 100;
  font-size: $font-size-lg;

  &--light {
    color: $color-grey-light-1;
  }
  
  &--dark {
    color: $color-grey-dark-1;
  }
}

.paragraph {
  margin-bottom: 2rem;
  font-size: $font-size-sm;
  color: $color-grey-dark-2;
}
