.footer {
  @include animateInDirection(bottom);

  grid-area: footer-top / full-left / footer-bottom / full-right;
  align-self: center;

  &__copyright {
    font-size: $font-size-default;
    text-align: center;
  }
}
